.father {
    border: 2px solid #000;
    padding: 10px 5px;
    margin: 10px;
    width: 95%;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* align-items: center; */
    justify-content: center;
    align-content: center;
    background-color: #94B2F2;
    border-radius: 50px 50px 10px 10px;
    border-top: 3px white solid;
}

.header{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    margin-top: 3px;
    background-color: #2f2f55;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 90%;
    height: 90%;
    border-radius: 20px 20px 50px 50px;

    place-self: center;
    align-self: self-start;

    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: space-around;
    

    border-right: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid black;

    transition: 1s;

}

.header h1{
    margin: 0;
    font-size: 1rem;
}

@media screen and (max-width: 550px) {
    .header{
        width: 75%;
    }
    
}


@media screen and (max-width: 450px) {
    .header{
        width: 50%;
    }
    
}