body {
  background: #3a6186; 
  background: -webkit-linear-gradient(to bottom, #3a6186, #89253e); 
  /* background: linear-gradient(to bottom, #3a6186, #89253e);  */
}

.App {
  text-align: center;
  padding: 20px;
  /* height: 100%; */
}